<h2>The text is :</h2>

<div>
    {{text}}
</div>

<br/><br/>

<h2>The length of the text is :</h2>

<div>
    {{text_len}}
</div>

<br/><br/>

<h2>The total no of words in the text is :</h2>

<div>
    {{words_len}}
</div>

<br/><br/>

<h2>The word frequency :</h2>

<div>
    {{word_dictionary}}
</div>

<br/><br/>

<h2>The sorted word frequency using keys :</h2>

<div>
    {{data}}
</div>

<br/><br/>

<h2>The sorted words with frequency :</h2>

<div>
    {% for word, frequency in data %}
    {{word}} -- {{frequency}} <br/>
    {% endfor %}
</div>